<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editProfile(Helper)</title>
</head>
<style>
    .title{
        font-size: 24px;
    }
    table{
        border: 0px solid black;
    }
    #textArea{
        width: 450px;
        height: 200px;
        resize: none;
    }
</style>
<body>
    
    <section>

        <p class ="title">회원정보 수정 (헬퍼회원)</p>
        <hr>

        <form>
        <table>
            <tr>
                <td>회원아이디</td>
                <td><input type ="text"></td>
                <td>아이디는 변경 불가합니다.</td>
            </tr>
            <tr>
                <td>비밀번호 </td>
                <td><input type ="text"></td>
                <td>검사1</td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><input type ="text"></td>
                <td>검사2</td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type ="text"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type ="text" placeholder="-는 빼고 입력해주세요."></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type ="text"></td>
                <td><button>주소찾기</button></td>
            </tr>
            <tr>
                <td>상세주소</td>
                <td><input type ="text"></td>
            </tr>
        </table>
  

        <br>
        <p class ="title">기업소개 변경</p>
        <hr>
        <table>
            <tr>
                <td><p>업체이름</p></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><p>업체사진</p></td>
                <td>사진집어넣어</td>
                <td><button>사진넣기</button></td>
            </tr>
            <tr>
                <td><p>업체소개</p></td>
                <td><textarea id="textArea">저희 업체는 어쩌구~~</textarea></td>
            </tr>
        </table>
        <hr>
        <button type="submit">변경</button>
    </form>
    </section>
</body>
</html>

