<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPage(Helper)</title>
<style>
   .nav-content{
       text-align: center; 
   }
   .nav-content .nav-item{
       display: inline-block;
       width: auto;
       margin-left: 10px;
       margin-right: 10px;
       background: beige;
   }

</style>
</head>
<body>

    <nav>
        <div class ="nav-content">
            <div class ="nav-item">헬퍼작성</div>
            <div class ="nav-item">회원정보수정</div>
            <div class ="nav-item">견적서관리</div>
            <div class ="nav-item">포인트관리</div>
            <div class ="nav-item">QnA</div>
        </div>
    </nav>
    <section>
        <div>
            <img src=" ">
        </div>
    </section>
    
</body>
</html>