<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포인트 충전</title>
    <link rel="stylesheet" href="common.css">
<style>
    .inner{
        width: 980px;
        height: auto;
        margin: 0 auto;
        background: red;
    }
    .inner .inner__header{
        background: yellow;
        text-align: center;
    }
    .inner .inner__content{
        width: 768px;
        height: 500px;
        margin: 0 auto;
        background: cadetblue;
    }
</style>
</head>
<body>
    <section class="section">
        <div class="inner">

            <div class="inner__header">
                <p>Point 충전</p>
            </div>
            <div class="inner__content">

            </div>


        </div>
    </section>


</body>
</html>